@import url("colors.css");
@import url("fonts.css");
@import url("normalize.css");

/*Atoms*/
@import url("00_atoms/button-input.css");

/*Partials*/
@import url("02_organisms/header.css");
@import url("02_organisms/footer.css");

/*Base*/
*{
    box-sizing: border-box;
}
html{
    min-height: 100vh;
    font-size: calc(12px + 0.390625vw);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2F5F5;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
