.button{
    border-radius: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    min-height: 1.8rem;
    outline-color: var(--clr-green);
    outline-offset: .25rem;
    padding: 0 1rem;
}

.button--bigger{
    font-size: 1.2rem;
    height: 2.5rem;
}

.button--small{
    height: max-content;
    padding: 2px;
    min-height: 0;
}

.button--green{
    background-color: var(--clr-green);
}

.button--green:hover, .button--green:focus{
    background-color: var(--clr-green-darker);
}

.button--darkgray{
    background-color: var(--clr-dark);
}

.button--semiradius{
    border-radius: .6rem;
}

@media screen and (min-width:700px){
    .button, .button--bigger:not(){
        height: 2.1rem;
    }
}