#close-modal{
    position: relative;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
}

#close-modal::after,
#close-modal::before{
    content: '';
    display: block;
    background: #333;
    position: absolute;
    height: 1rem;
    width: 2px;
}

#close-modal::before{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#close-modal::after{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}