.link{
    position: relative;
    text-decoration: none;
    color: var(--clr-green);
    cursor: pointer;
}

.link:hover{
    color: var(--clr-green-darker);
}

.link:after{
    background-color: var(--clr-green);
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 50%;
    transition: all .2s ease-in-out;
    width: 0%;
}

.link:hover:after, .link:focus:after{
    transform: translateX(50%);
    width: 100%;
}

.link:focus{
    outline:  0;    
}

@keyframes move{
    from{
        right: 50%;
    }

    to{
        right: 0;
    }
}