.text-input{
    border-radius: 10px;
    border: solid var(--clr-dark) .15rem;
    height: 2.5rem;
    outline-color: var(--clr-green);
    outline-offset: .25rem;
    padding: .3rem;
    text-align: center;
}

.text-input--shadow{
    border: 0;
    box-shadow: 0 .1rem .4rem .1rem rgba(0,0,0,.2);
}