.content{
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    gap: .5rem;
 }

@media screen and (min-width:380px) {
    .content{
        min-width: 70%;
        max-width: 70%;
    }
}