.header__profile{
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    grid-area: profile;
    max-width: 2.5rem;
    min-width: 2.5rem;
    overflow: hidden;
}

.header__profile--session-off{
    border-radius: 0;
    max-width: 100%;
    min-width: fit-content;
    overflow:visible;
}