.header__actions{
    display: flex;
    flex-direction: column;
}

.header__menu{
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: max-content;
    transform: translateY(100%);
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    border-top: white 2px solid;
}

.header__menu .header__menu-item{
    
}