.header__profile{
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    grid-area: profile;
    max-width: 2.5rem;
    min-width: 2.5rem;
    overflow: hidden;
}

.header__profile__container{
    position: relative;
}


.header__menubtn{
    background-color: var(--clr-dark);
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(25%);
}

.header__menubtn img{
    height: .8rem;
}

.header__profile--session-off{
    border-radius: 0;
    max-width: 100%;
    min-width: fit-content;
    overflow:visible;
}