.header__principal{
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-areas: "profile button";
}

@media screen and (min-width:700px){
    .header__principal{
        grid-template-areas: "button profile";
    }
    .header__profile{
        max-width: 3.2rem;
    }
}