@import url("card.css");

.cards{
   display: flex;
   flex-direction: column;
   gap:15px;
   margin: 0 auto;
}

.cards__title{
   display: flex;
   font-size: 1.2rem;
}

.cards__title::before{
   content: url("http://localhost/homder/img/icons/map-location-solid.svg");
   aspect-ratio: 1/1;
   width: 1.2rem;
   margin: 0 1ch;
}

@media screen and (min-width:700px) {
   .cards{
      gap: 20px;
   }
}