/* .content{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}


@media screen  and (min-width:700px){
    .content{
        padding: 20px 20%;
    }
 } */

 .content{
    min-width: 350px;
    max-width: 70%;
    display: flex;
    justify-content: center;
 }